<div class="col-xs-12 col-md-6 col-xl-4">
  <div class="o-card">
    <%= render 'objects/slices/icon_left' %>
  </div>
</div>

<div class="col-xs-12 col-md-6 col-xl-4">
  <div class="o-card u-bg--charcoal">
    <%= render 'objects/slices/icon_left', icon: 'suitcase', name: 'Holiday!' %>
  </div>
</div>

<div class="col-xs-12 col-md-6 col-xl-4">
  <div class="o-card">
    <%= render 'objects/slices/icon_left', icon: 'suitcase', name: 'Holiday!', color_variant: 'u-bg--success' %>
    <%= render 'objects/slices/icon_left', icon: 'suitcase', name: 'Holiday!', color_variant: 'u-bg--white' %>
    <%= render 'objects/slices/icon_left', icon: 'suitcase', name: 'Holiday!', color_variant: 'u-bg--silver' %>
    <div class="o-slice u-bg--charcoal u-text--center">
      <button type="button" class="btn btn--primary">Save</button>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <%= render 'objects/slices/icon_left', icon: 'error', name: 'Something went wrong! :(', desc: '', color_variant: 'u-bg--danger' %>
</div>

<div class="col-xs-12">
  <%= render 'objects/slices/icon_left', icon: 'success', name: '', desc: 'Something went correct! :)' %>
</div>
