<%= ui_wrapper('section') do %>
  <%= ui_slice('content', class: 'u-padding-y-100 u-bg--primary') do %>
    <p class="c-text--headline u-text--center">Testing component building blocks</p>
  <% end %>
<% end %>

<section class="u-padding-y-100">
  <div class="container">
    <%= render 'objects/wrappers/example' %>
  </div>
</section>

<section class="u-padding-y-100 u-color--primary">
  <div class="container">
    <%= render 'objects/content/icons' %>
  </div>
</section>

<section class="u-padding-y-100">
  <div class="container">
    <%= render 'objects/content/content_cards' %>
  </div>
</section>

<section class="u-padding-y-100">
  <div class="container">
    <%= render 'objects/content/profile_cards' %>
  </div>
</section>

<section class="u-padding-y-100">
  <div class="container">
    <%= render 'objects/content/buttons' %>
  </div>
</section>
