<nav class="navbar">
  <%= link_to "Home", root_path, class: 'navbar__item' %>
  <%= link_to "Colors", root_path, class: 'navbar__item is-disabled' %>
  <%= link_to "Typography", root_path, class: 'navbar__item is-disabled' %>
  <%= link_to "Media", root_path, class: 'navbar__item is-disabled' %>
  <%= link_to "Internal Plugins", root_path, class: 'navbar__item is-disabled' %>
  <%= link_to "External Plugins", root_path, class: 'navbar__item is-disabled' %>
</nav>
