<div class="w-card u-bg--white">
  <% if show_image? %>
    <%= image_tag(image, style: "width: 100%;") %>
  <% end %>

  <h1 class="c-text--title"><%= title %></h1>
  <p class="c-text--body"><%= description %></p>

  <% if show_data? %>
    <ul>
      <% data.each do |data| %>
        <li><%= data[:title] %>: <%= data[:number] %></li>
      <% end %>
    </ul>
  <% end %>
</div>
