<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>Ragnarok</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//use.typekit.net/ler6yzq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <%= render 'navigation/navbar' %>

    <div class="content-wrap js-content-wrap" style="padding-top: 60px;">
      <% if content_for?(:side_nav) %>
        <div class="sidebar-wrapper">
          <div class="section-nav js-scrollbar">
            <%= yield(:side_nav) %>
          </div>
          <div class="section-wrap js-page-wrapper js-scrollbar">
            <%= yield %>

            <%= yield(:page_footer) %>
          </div>
        </div>
      <% else %>
        <div class="page-wrapper js-page-wrapper js-scrollbar">
          <%= yield %>

          <%= yield(:page_footer) %>
        </div>
      <% end %>
    </div>
  </body>
</html>
