<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>Ragnarok</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//use.typekit.net/ler6yzq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <%= render 'navigation/navbar' %>

    <div class="content-wrap js-content-wrap u-padding-t-100">
      <%= yield %>
    </div>
  </body>
</html>
