<!DOCTYPE html>
<html>
  <head>
    <title>Ragnarok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navigation/navbar' %>

    <div class="content-wrap js-content-wrap u-padding-t-100">
      <%= yield %>
    </div>
  </body>
</html>
